<html>
<head>
  <title>Spring with Velocity</title>
</head>
<body>
  <div style="background: #9eb72d; height: 80px; padding: 5px;">
    <div style="float: left">
      <h1>Our tutorials</h1>
    </div>
  </div>


  <div>

    <!-- View index.vm is inserted here -->
      $screen_content

  </div>

  <div style="background: #63B175; text-align: center; padding: 5px; margin-top: 10px;">
    @Copyright baeldung.com
  </div>
</body>
</html>